.auth-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.auth-card {
    width: 100%;
    max-width: 500px;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.text-center {
    text-align: center;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.block {
    display: block;
}

.loginInputField {
    width: 100%
}